@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0em;
  padding: 0em;
}

ul,
li,
ol {
  list-style: none;
}

/* Style pour le modale */
.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("../fonts/digital-7.ttf");
}
body {
  background-color: rgb(45, 66, 66);
  overflow: hidden;
  user-select: none;
  /* Désactive la sélection */
  -webkit-user-select: none;
  /* Désactiver pour Safari/Chrome */
  -moz-user-select: none;
  /* Désactiver pour Firefox */
  -ms-user-select: none;
  /* Désactiver pour Internet Explorer */
}
body .container {
  position: relative;
  margin: 3em;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
body .container .computer {
  z-index: 1;
  position: relative;
  top: 2em;
  left: 4em;
  border: 16mm ridge rgb(152, 155, 106);
  border-radius: 4px;
  width: 45em;
  height: 35em;
  grid-row: 1/6;
  box-shadow: 0 0em 100em #000;
}
body .container .computer .screen {
  border: 3px rgba(0, 0, 0, 0.507) solid;
  border-radius: 8px;
  height: 100%;
  font-size: 1.5em;
  font-family: "Cascadia Code", sans-serif;
  color: #0c0;
  text-shadow: #0c0 1px 0 5px;
  background-color: black;
  animation: colorPulse 5s infinite ease-in-out;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  overflow: hidden;
  position: relative;
}
body .container .computer .screen:hover {
  cursor: url("../img/selector_cursor.svg"), pointer;
  z-index: 1;
}
body .container .computer .screen:before {
  animation: wave 10s infinite ease-in-out;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  /* Assurer que l'animation commence à l'intérieur du cadre */
  z-index: 1;
  width: 100%;
  /* Assurer que la vague ne dépasse pas la largeur de .screen */
}
body .container .computer .screen:after {
  background-image: linear-gradient(transparent, transparent 3px, #222);
  background-size: 4px 4px;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
body .container .computer .screen:first-child, body .container .computer .screen:last-child {
  padding-left: 3vmin;
}
body .container .computer .screen ul {
  padding-top: 3vmin;
  /* Espace en haut de la liste */
  height: 85%;
  /* Hauteur fixe pour permettre le défilement */
  overflow-y: auto;
  /* Active le défilement vertical */
  margin: 0;
  /* Réinitialiser les marges par défaut si nécessaire */
  padding: 0;
  /* Réinitialiser le remplissage par défaut si nécessaire */
  /* Styles pour Chrome, Edge, Safari */
  /* Barre de défilement mince */
  scrollbar-color: #0c0 transparent;
  /* Couleur de la barre et de la piste */
}
body .container .computer .screen ul li:before {
  margin-right: 0.3em;
  content: ">";
}
body .container .computer .screen ul::-webkit-scrollbar {
  width: 36px;
  /* Largeur de la scrollbar */
}
body .container .computer .screen ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  /* Zone de la scrollbar */
}
body .container .computer .screen ul::-webkit-scrollbar-thumb {
  background: #0c0;
  /* Couleur de la barre */
  border-radius: 0px;
  /* Coins arrondis */
}
body .container .computer .screen ul::-webkit-scrollbar-thumb:hover {
  background: #0a0;
  /* Couleur au survol */
}
body .container .computer .screen form {
  /* Cacher la barre de défilement dans Chrome/Safari */
}
body .container .computer .screen form #editable-textarea {
  margin-top: 1em;
  display: none;
  height: 85%;
  font-size: 1em;
  resize: none;
}
body .container .computer .screen form #myTextarea::-webkit-scrollbar {
  display: none;
  /* Cache la barre de défilement */
}
body .container .computer .screen form #save-button {
  display: none;
  margin-top: 1em;
  border: 0.2em #0c0 solid;
}
body .container .computer .screen form #save-button:hover {
  color: black;
  background-color: #0c0;
}
body .container .computer .screen form input,
body .container .computer .screen form textarea,
body .container .computer .screen form button {
  width: 95%;
  background-color: transparent;
  border: none;
  animation: colorPulse 5s infinite ease-in-out;
  font-size: inherit;
  border-radius: 5px;
  color: #0c0;
  text-shadow: #0c0 1px 0 5px;
}
body .container .computer .screen form input:hover,
body .container .computer .screen form textarea:hover,
body .container .computer .screen form button:hover {
  cursor: url("../img/selector_cursor.svg"), pointer;
  z-index: 1;
}
body .container .computer .screen form input:focus,
body .container .computer .screen form textarea:focus,
body .container .computer .screen form button:focus {
  outline: none;
}
body .container .computer .screen form::before {
  content: ">";
}
body .container .screen_foot {
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.5));
  z-index: 0;
  position: absolute;
  top: 30em;
  left: 13em;
}
body .container .timer {
  box-shadow: 0 0em 100em #000;
  background-color: #222;
  border: 8mm ridge rgb(0, 0, 0);
  border-radius: 4px;
  margin: 0.5em 2.5em 0.5em 2.5em;
  grid-column: 2/-1;
  text-align: center;
  font-family: "digital-clock-font";
  color: red;
  font-size: 4em;
}
body .container .timer h1 {
  text-shadow: red 2px 0 10px;
  padding: 0.2em;
}
body .container .post-it {
  z-index: 10;
  grid-column: 1;
  position: absolute;
  background-color: yellow;
  box-shadow: 0 0em 100em #000;
  font-family: "Playwrite GB S", bold;
  width: 10em;
  height: 10em;
  padding: 10px;
  border-radius: 2px;
  top: 40em;
  left: 45em;
  transform: rotate(-3deg);
}
body .container .quests {
  margin-top: 2em;
  border: 0.5em ridge rgb(182, 174, 174);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  grid-column: 2/-1;
  width: 30em;
  height: 15em;
  box-shadow: 0 0em 100em #000;
  z-index: 1;
  font-family: "Playwrite GB S", bold;
  font-size: 1.2em;
  padding: 40px;
}
body .container ul.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Deux colonnes fixes */
  gap: 0.8em;
}
body .container ul.list li {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: blue;
}
body .container ul.list li div {
  margin-right: 0.4em;
}
body .desk {
  width: 100%;
  height: 100em;
  box-shadow: 20em 0 200em #000;
  background-color: rgb(51, 19, 19);
  background-image: url("../img/Dust.png");
}

@keyframes colorPulse {
  0%, 100% {
    color: #0c0;
  }
  48%, 52% {
    color: #090;
  }
  50% {
    color: #060;
  }
}
.checkbox-wrapper-19 {
  box-sizing: border-box;
  --checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}
@-webkit-keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}
@keyframes dothabottomcheck-19 {
  0% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) / 2);
  }
}
@keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
@-webkit-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
@-moz-keyframes dothatopcheck-19 {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: calc(var(--checkbox-height) * 1.2);
  }
}
.checkbox-wrapper-19 input[type=checkbox] {
  display: none;
}

.checkbox-wrapper-19 .check-box {
  height: var(--checkbox-height);
  width: var(--checkbox-height);
  background-color: transparent;
  border: calc(var(--checkbox-height) * 0.1) solid blue;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: calc(var(--checkbox-height) * 0.15);
  background-color: blue;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}

.checkbox-wrapper-19 .check-box::before {
  top: calc(var(--checkbox-height) * 0.72);
  left: calc(var(--checkbox-height) * 0.41);
  box-shadow: 0 0 0 calc(var(--checkbox-height) * 0.05) var(--background-color);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.checkbox-wrapper-19 .check-box::after {
  top: calc(var(--checkbox-height) * 0.37);
  left: calc(var(--checkbox-height) * 0.05);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
  border-color: blue;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
  height: calc(var(--checkbox-height) / 2);
  -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
  animation: dothabottomcheck-19 0.2s ease 0s forwards;
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
  height: calc(var(--checkbox-height) * 1.2);
  -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
  animation: dothatopcheck-19 0.4s ease 0s forwards;
}

@keyframes wave {
  0% {
    box-shadow: 0 -5vh 5vh #000;
    top: -100vh;
  }
  48%, 52% {
    box-shadow: 0 -5vh 5vh #000;
  }
  50% {
    box-shadow: 0 -5vh 5vh #000;
  }
  100% {
    box-shadow: 0 -5vh 5vh #000;
    top: 100vh;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 110em) {
  body .container .timer {
    font-size: 2em;
  }
}

/*# sourceMappingURL=main-terminal.css.map */
